body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image: url('/Media/geoffrey-moffett-TFRezw7pQwI-unsplash.jpg');
    background-position: center;
    background-size: cover;
    color: #ddd;

}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 200px;
    margin: 50px auto;
    padding: 30px;

    label {
        margin-bottom: 10px;
        display: block;
        color: yellow;
        
    }

    form {
        margin-bottom: 20px;
        
    }

    ul {
        list-style: none;
        padding: 0;
        background-color: white;
        color: black;
    }

    li {
        margin-bottom: 10px;
        padding: 10px;
        
    }

    input, textarea, button {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;       
    }
}