body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image: url('/Media/geoffrey-moffett-TFRezw7pQwI-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #ddd;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 200px;
    margin: 50px auto;
    text-align: center;
    
form {
        margin-bottom: 20px;
        border-top-left-radius: 100%;  
    
    label {
        margin-bottom: 10px;
        display: block;
        color: yellow;
        background-color: #333;
        padding: 5px 10px;
    }


    input, textarea, button {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;       
    }
}

    #savedProgramsContainer {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        padding: 10px;
        margin: 0;
    }
    
    .saved-program {
    flex: 0 0 auto;
    width: 50%;
    margin: 10px;
    background-color: white;
    color: #ffcc00;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    scroll-snap-align: start;
    
}

    #programList {
    list-style: none;
    padding: 0;
    margin: 0;


    li {
        margin-bottom: 30px;
        padding: 10px;
    }
}

button {
    width: 100%;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    }
}

.scroll-container {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.scroll-list {
    display: flex;
    gap: 10px;
}





.scroll-arrow {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}


    #programForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    label {
        margin-bottom: 5px;
        display: block;
        color: yellow;
    }

    input, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
    }

    button {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
    }
    
    #clearButton {
        position: absolute;
        top: 25px;
        left: 130%;
        background-color: #333;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        z-index: 1;
        width: auto;
        
    }

    #updateStatusContainer {
        
        color: white;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
    }
}
